### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
tot_df = pd.DataFrame({'Total number of players': len(purchase_data['Purchase ID'])},index=[0])
tot_df

   Total number of players
0                      780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Create a list to collect results
summary_dict={'Number of Unique Items': len(purchase_data['Item ID'].unique()),
             'Average Price': '{0:.2f}'.format(purchase_data['Price'].mean()),
             'Total Number of Purchases':len(purchase_data['Item ID']),
             'Total Revenue': '${0:.2f}'.format(purchase_data['Price'].sum())
             }
summary_df=pd.DataFrame(summary_dict,index=[0])
summary_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
#group purchase data by Gender
grouped_df=purchase_data.groupby(['Gender'])
#Calculate percentage of players as values_count / total players (uniques)
gender_df=pd.DataFrame({'Percentage of Players': purchase_data['Gender'].value_counts().divide(len(purchase_data['SN'].unique())/100).map('{0:.2f}'.format),
                        'Total Count': purchase_data['Gender'].value_counts()})
gender_df.head()

                      Percentage of Players  Total Count
Male                                 113.19          652
Female                                19.62          113
Other / Non-Disclosed                  2.60           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
#Calculate purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_df=pd.DataFrame({'Purchase Count': grouped_df['Purchase ID'].agg('sum'),
                         'Average Purchase Price': grouped_df['Price'].agg('mean').map('${0:.2f}'.format),
                         'Total Purchase Value':grouped_df['Price'].agg('sum').map('${0:.2f}'.format),
                         'Average Total Purchase Per Person': grouped_df['Price'].agg('sum').divide(len(purchase_data['Purchase ID'])).map('${0:.2f}'.format)
                       })
gender_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,42870,$3.20,$361.94,$0.46
Male,255921,$3.02,$1967.64,$2.52
Other / Non-Disclosed,5019,$3.35,$50.19,$0.06

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [5]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
purchase_data['Age Bin']=pd.cut(purchase_data['Age'],age_bins,labels=group_names)
#purchase_data.head()

#group by Age Bin
grouped_df=purchase_data.groupby(['Age Bin'])
#Calculate purchase count, avg. purchase price, avg. purchase total per person etc. by gender
agebin_df=pd.DataFrame({'Purchase Count': grouped_df['Purchase ID'].agg('sum'),
                         'Average Purchase Price': grouped_df['Price'].agg('mean').map('${0:.2f}'.format),
                         'Total Purchase Value':grouped_df['Price'].agg('sum').map('${0:.2f}'.format),
                         'Average Total Purchase Per Person': grouped_df['Price'].agg('sum').divide(len(purchase_data['Purchase ID'])).map('${0:.2f}'.format)
                       })
agebin_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Bin,,,,
<10,10009,$3.35,$77.13,$0.10
10-14,10114,$2.96,$82.78,$0.11
15-19,54859,$3.04,$412.89,$0.53
20-24,139573,$3.05,$1114.06,$1.43
25-29,41072,$2.90,$293.00,$0.38

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
#group by SN (Spender Name)
grouped_df=purchase_data.groupby(['SN'])
#Calculate purchase count, avg. purchase price, avg. purchase total per person etc. by gender
SN_df=pd.DataFrame({'Purchase Count': grouped_df['Purchase ID'].agg('sum'),
                    'Average Purchase Price': grouped_df['Price'].agg('mean').map('${0:.2f}'.format),
                    'Total Purchase Value':grouped_df['Price'].agg('sum').map('${0:.2f}'.format),
                  })
#sort by Total Purchase Value
SN_df=SN_df.sort_values(by=['Total Purchase Value'],ascending=False)
#Top Spender
SN_df.head(1)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51             626                  $3.17                $9.50

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
#group by Item ID
grouped_df=purchase_data.groupby(['Item ID','Item Name'])
#Calculate purchase count, avg. purchase price, avg. purchase total per person etc. by Item ID
item_df=pd.DataFrame({'Purchase Count': grouped_df['Purchase ID'].agg('sum'),
                    'Average Purchase Price': grouped_df['Price'].agg('mean').map('${0:.2f}'.format),
                    'Total Purchase Value':grouped_df['Price'].agg('sum').map('${0:.2f}'.format),
                  })
#sort by Purchase Count
item_df=item_df.sort_values(by=['Purchase Count'],ascending=False)
#Most Popular Item
item_df.head(1)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4960,$4.23,$50.76

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [76]:
#sort item_df by Total Purchase Value
sorted_df=item_df.sort_values(by=['Total Purchase Value'],ascending=False)
#Most profitable Items
sorted_df.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,743,$4.99,$9.98
29,"Chaos, Ender of the End",2275,$1.98,$9.90
173,Stormfury Longsword,752,$4.93,$9.86
1,Crucifer,1272,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",1703,$2.37,$9.48